<header class="navbar sticky-top navbar-dark navbar-expand-lg bg-primary">
  <mat-icon>explore</mat-icon>
  <a class="navbar-brand p-2" href="https://github.com/zgwldrc/etcd-browser">Etcd Browser Powered By ZGWLDRC</a>
  <span>Angular5, Angular-Material, golang, docker, docker-compose</span>
</header>

<div class="container-fluid">
  <div class="row">
    
    <div class="sidebar p-3">
      <mat-nav-list>
          <h3 mat-subheader>Folders</h3>
          <app-etcddir [node]="rootNode" [depth]="0"></app-etcddir>
      </mat-nav-list>
    </div>
    
    <div style="flex-grow:1; position: relative;">
      <app-etcdkey></app-etcdkey>
    </div>
  </div>
</div>