header {
    height: 3rem;
}

.sidebar{
    position: sticky;
    top: 3rem;
    height: calc(100vh - 3rem);
    border-right: 1px solid rgba(0,0,0,0.1);
    overflow-y: auto;
    min-width: 15rem;
    /* max-width: 200px; */
}


